@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes loading {
  0%   { width: 2%; }
  10%  { width: 15%; }
  30%  { width: 40%; }
  60%  { width: 65%; }
  80%  { width: 80%; }
  95%  { width: 93%; }
  100% { width: 96%; }
}
